.navbar {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;

        li {
            a {
                font-size: 20px;
                text-decoration: none;
                color: black;

            }
        }
    }
}

.active {
    background-image: linear-gradient(to right, rgb(246, 148, 148), rgb(211, 58, 124));
    color: white;
    border-radius: 10px;
}