html,
body {
    min-height: 100%;
}

body {
    background-image: url("hinhAnh/Monday Fellings! xD.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}